/*Colors*/
$primary-color-gradient1: #e67e22;
$primary-color-gradient2: #f1c40f;
$recipe-box-background-color: #e7e8ec;

/*Sizes*/
$base-size: 16px;
$size-xxsm: 2px;
$size-xsm: 5px;
$size-sm: 10px;
$size-md: 15px;
$size-lg: 50px;
$size-xlg: 75px;
$size-xxlg: 100px;

$font-size-md: 12px;

/*Padding sizes*/
$padding-xsm: 2px;
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;

$recipe-box-width: 220px;
